@model DocumentFlow_KW.ViewModels.Task
@{
    ViewBag.Title = "Обзор задачи";
}

@*<div class="mx-auto" style="padding: 3%">
    <h1 class="h3 mb-3 fw-normal">Задача создана!</h1>
</div>*@

<div class="alert alert-success hidden mb-5 fw-normal" style="margin-top: 100px;" id="success-alert">
  <h2 class="h3 mb-3 fw-normal">Задача <b>@Model.Topic</b> создана!</h2>
  <div>Задача <b>@Model.Topic</b> отправлена исполнителю <b>@Model.Executor</b>.</div>
</div>

@*<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" disabled>О задаче</a>
    </li>
</ul>*@

