@model DocumentFlow_KW.ViewModels.DocumentUsers
@{
    ViewBag.Title = "Обзор задачи";
}

<div class="mx-auto" style="padding: 3%">
    <h1 class="h3 mb-3 fw-normal">@Model.Document.Topic</h1>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" disabled>О задаче</a>
    </li>
</ul>

