@model DocumentFlow_KW.ViewModels.DocumentUsers
@{
    ViewBag.Title = "Создание документа";
}

<div class="mx-auto" style="padding: 3%">
    <h1 class="h3 mb-3 fw-normal">Создать задачу</h1>
    <form asp-action="Index" asp-controller="Document">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Documents.Topic" class="control-label">Тема</label>
            <input type="text" asp-for="Documents.Topic" class="form-control" />
        </div>
        <div class="form-group">
            <select asp-for="Documents.Executor" class="form-select">
                Исполнитель
                @{ int i = 1;
                @foreach (var user in Model.Users) //Передаётся как NULL
                @*@for (int i = 0; i < Model.Users.Count()-1; i++)*@
                {
                <option value="i">@user.Fio</option>
                    i++;
                }
                    }
            </select>
            @*<input type="text" asp-for="Executor" class="form-control" />*@

        </div>
        @*<div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Откройте это меню выбора</option>
                    <option value="1">Один</option>
                    <option value="2">Два</option>
                    <option value="3">Три</option>
                </select>
                <label for="floatingSelect">Работает с элементом выбора</label>
            </div>*@
        <div class="form-group">
            <label asp-for="Documents.CreationDate" class="control-label">Дата начала</label>
            <input type="number" asp-for="Documents.CreationDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Documents.Priority" class="control-label">Приоритет</label>
            <input type="text" asp-for="Documents.Priority" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Documents.Type" class="control-label">Категория</label>
            <input type="password" asp-for="Documents.Type" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Documents.Description" class="control-label" style="height: 100px">Описание</label>
            <input type="password" asp-for="Documents.Description" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-success" />
        </div>
    </form>
</div>