@model DocumentFlow_KW.ViewModels.Document
@{
    ViewBag.Title = "Обзор документа";
}
<div class="alert alert-success hidden mb-5 fw-normal" style="margin-top: 100px;" id="success-alert">
  <h2 class="h3 mb-3 fw-normal">Документ <b>@Model.Topic</b>создан!</h2>
  <div>Документ <b>@Model.Topic</b> отправлен согласующему <b>@Model.Executor</b>.</div>
</div>